[alias]
    find = log --pretty=\"format:%C(bold green)%H %C(bold yellow)%s%C(dim red)%d%n  %C(bold cyan)authored by %an on %ad, commited by %cn on %cd%C(dim white)\" --name-status --date short --grep
    branch-point = merge-base HEAD develop
    diff-branch = diff develop...HEAD
    diff-rebase = diff HEAD...develop
    log-rebase = log --pretty=\"format:%C(bold green)%H %C(bold blue)%s%C(dim red)%d%n  %C(bold cyan)authored by %an on %ad, commited by %cn on %cd%C(dim white)\" --name-status --date short HEAD..develop
    purge = !git reset --hard && git clean -f -d && git pull && git remote prune origin && git gc --aggressive

[color]
    branch = auto
    diff = auto
    grep = auto
    interactive = auto
    showbranch = auto
    status = auto

[color "branch"]
    current = green
    local = yellow

[core]
    pager = less -r
    quotepath = false

[format]
    signature = ""
    subjectprefix = PATCH

[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag =

[grep]
    extendedRegexp = true

[log]
    date = rfc
    decorate = short

[push]
    default = current

[status]
    relativePaths = true
    showUntrackedFiles = all

[user]
    name = Alex Howansky
    email = alex.howansky@gmail.com
