[alias]
    find = log --name-status --regexp-ignore-case --grep
    branch-point = merge-base HEAD develop
    diff-branch = diff develop...HEAD
    diff-rebase = diff HEAD...develop
    log-rebase = log --name-status HEAD..develop
    purge = !git reset --hard && git clean -f -d && git pull && git remote prune origin && git gc --aggressive

[color "branch"]
    current = bold green
    local = bold white
    remote = dim cyan
;    plain = ??

[color "grep"]
    match = bold red

[color "diff"]
    plain = bold white
    frag = bold yellow
;    commit = ??
    whitespace = reverse red
    meta = dim white
    old = red
    new = green

[color "status"]
    header = dim white
    added = bold yellow
    changed = bold green
    untracked = dim cyan
    branch = bold green
    nobranch = dim green

[color "interactive"]
    prompt = bold yellow
    header = bold cyan
    help = dim white
    error = bold red

[core]
    pager = less -r
    quotepath = false

[format]
    pretty = my
    signature = ""

[gitflow "prefix"]
    feature = feature/
    release = release/
    hotfix = hotfix/
    support = support/
    versiontag =

[grep]
    extendedRegexp = true

[log]
    date = iso
    decorate = short

[pretty]
    my = format:%C(bold yellow)%H %C(bold blue)%s%C(bold green)%d%n  %C(dim white)Author: %C(bold cyan)%an <%ae>%n    %C(dim white)Date: %C(bold cyan)%ad%C(bold white)

[push]
    default = current

[status]
    relativePaths = true
    showUntrackedFiles = all

[user]
    name = Alex Howansky
    email = alex.howansky@gmail.com
